.circle {
    display: inline-block;
    background-color: var(--clr-blue);
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

img {
    position: relative;
    top: 10px;
    right: 20px;
}