.main-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;

  border-radius: 1em;
  background-color: var(--clr-dark-blue);
  max-width: 700px;

  margin: 0 auto;
}

h1.thank-you {
  margin: 0 auto;
}

input[type='submit'] {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-transform: uppercase;
  margin-top: 1em;
  padding: 1em 6em;
  background-color: var(--clr-orange);
  border: 1px solid var(--clr-orange);
  border-radius: 1em;
}

input[type='submit']:disabled {
  background-color: var(--clr-light-grey);
  border-color: var(--clr-light-grey);
  pointer-events: none;
}

input[type='submit']:hover{
  cursor: pointer;
  color: var(--clr-orange);
  background-color: var(--clr-white);
}

input[type='submit']:active {
  transform: translateY(2px);
}

img {
  margin-bottom: .75em;
}

img.thank-you {
  width: 250px;
  margin: .75em auto;
}